.custom-date-picker {
  width: 100%;
  height: 48px;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  padding: 0 12px;
  font-size: 16px;
  color: #2d3748;
  background-color: white;
}
.custom-date-picker:focus {
  border-color: #00a233;
  box-shadow: 0 0 0 1px #00a233;
  outline: none;
}
.custom-date-picker .react-date-picker__wrapper {
  border: none;
}
.custom-date-picker.is-invalid {
  border-color: #a81502;
}
.react-calendar {
  width: 100%;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
}
.react-calendar__tile--active {
  background: #00a233 !important;
}
.react-calendar__tile--now {
  background: #e2e8f0 !important;
}
.react-calendar__tile:hover {
  background: #f7fafc !important;
}
.react-date-picker__inputGroup__input:invalid {
  background: transparent;
}
.react-date-picker__inputGroup__input:focus-within,
.react-date-picker__inputGroup__input:focus {
  outline: none;
}
